* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    height: 50px;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 8;
}

#nav-part-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 2px 10px;
}

@media screen and (max-width: 700px) {
    #nav-part-2 {
        display: none;
    }
}

#circle {
    border: 1px solid white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* ----------------------------------- */

#page2 {
    background-color: black;
    color: white;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#page2 h1 {
    font-size: 40px;
}

#page2 h2 {
    font-size: 35px;
}

#page2 img {
    border: 2px solid white;
    border-radius: 20px;
    width: 80%;
}

#cute p {
    color: white;
    font-size: 40px;
}

#cute {
    position: relative;
}

#cute p:nth-child(1) {
    /* position: absolute; */
    transform: translateX(117%);
}

#cute p:nth-child(2) {
    /* position: absolute; */
    transform: translateX(-67%);
}

#cute p:nth-child(3) {
    /* position: absolute; */
    transform: translateY(97%);
}

/* ---------------------------------------- */

#main {
    min-height: 120vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.cards {
    width: 90%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card1 h1 {
    color: white;
}

#card1 {
    background-color: black;
    position: absolute;
    top: 0%;
}

#card2 {
    background-color: blue;
    position: absolute;
    top: 100%;
    background-image: url(./a1.avif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#card3 {
    background-color: yellow;
    position: absolute;
    top: 170%;
    background-image: url(./a2.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#card4 {
    background-color: green;
    position: absolute;
    top: 255%;
    background-image: url(./a3.avif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* --------------------- */

#page1 {
    width: 100%;
    height: 100vh;
    border: 2px solid yellow;
    position: relative;
    background-color: black;
}

#page1 img {
    border: 2px solid white;
    width: 150px;
    position: absolute;
    box-shadow: 0 0 5px 2px white;
}

@media screen and (max-width:1100px) {
    #page1 img {
        width: 90px;
    }
}

#page1 img:nth-child(1) {
    top: 5%;
    left: 5%;
}

#page1 img:nth-child(2) {
    top: 20%;
    left: 25%;
}

#page1 img:nth-child(3) {
    top: 50%;
    left: 20%;
}

#page1 img:nth-child(4) {
    top: 65%;
    left: 30%;
}

#page1 img:nth-child(5) {
    top: 10%;
    right: 30%;
}

#page1 img:nth-child(6) {
    top: 35%;
    right: 5%;

}

#page1 img:nth-child(7) {
    top: 60%;
    right: 40%;
}

#page1 img:nth-child(8) {
    top: 70%;
    right: 10%;
}

/* --------------------------------------- */

#page3 {
    background-color: aqua;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

#page3-IMG {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: .1;
    opacity: 0;
}

#page3-left {
    background-color: #ff0000;
}

#page3-right {
    position: relative;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.page3-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20%;
    height: 100vh;
}

#page3-circle {
    border: 2px solid white;
    width: 90px;
    height: 90px;
    background-color: #ff0000;
}

#page3-img1 {
    position: absolute;
    bottom: 0%;
    left: -100%;
}

#page3-img2 {
    position: absolute;
    left: 10%;
    opacity: 0;
}

/* ----------------------- */
#page4 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(198, 198, 21);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10%;
    overflow: hidden;
    z-index: 2;
}

#page4 img {
    width: 120px;
    animation: MovingImg 3s linear infinite alternate;
}

@keyframes MovingImg {
    0% {
        transform: translateX(6px);
    }

    25% {
        transform: translateY(6px);
    }

    50% {
        transform: translateX(-6px);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateX(10px);
    }
}

#page4 div {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#page4-div1 {
    border-bottom: 2px solid green;
    border-right: 2px solid green;
}

#page4-div4 {
    border-top: 2px solid green;
    border-left: 2px solid green;

}

#page4-circle {
    position: absolute;
    border: 8px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
}

#page4-text {
    position: absolute;
    padding: 20%;
    bottom: -58%;
    z-index: 4;
    color: white;
    scale: .3;
    opacity: 0;
}

#page4-text h1 {
    color: pink;
    margin: 20px;
    font-size: 33px;
    border-bottom: 2px solid white;
}

#page4-para {
    border: 8px solid white;
    width: fit-content;
    height: fit-content;
}





/* ----------------------- */
#page5 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    /* border: 4px solid white; */
    color: white;
    padding: 10%;
}

#page5>div {
    position: absolute;
    width: 100px;
    height: 200px;
    perspective: 800px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page5>div>div {
    width: 100px;
    height: 200px;
    background-color: yellow;
}

#page5 img {
    width: 100px;
    height: 200px;
}





#page5-innerdiv1 {
    transform-origin: bottom;
    transform: rotateX(90deg);
}

#page5-innerdiv1 img {
    transform: rotateX(180deg);
}


#page5-innerdiv2 {
    transform-origin: right;
    transform: rotateY(-90deg);
}


#page5-innerdiv3 {
    transform-origin: left;
    transform: rotateY(90deg);
}


#page5-innerdiv4 {
    transform-origin: top;
    transform: rotateX(-90deg);
}

#page5-innerdiv4 img {
    transform: rotateX(180deg);
}

#sword {
    width: 200px;
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
    transform: rotate(-125deg);
}

#sword img {
    width: 100%;
}

/* --------------------------PAGE 6-------------------- */
#page6 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: 3px solid yellow;
}

#page6>div {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: grid;
}

#page6>div>div {
    display: flex;
}


#page6-div1 {
    grid-template-columns: 1fr 1fr;
}

#page6-div1-inner1 {
    background-color: black;
    color: white;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(-0%);

}

#page6-div1-inner2 {
    background-color: black;
    color: white;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(0%);
}



#page6-div2 {
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
}

#page6-div2>div {
    overflow: hidden;
}

#page6-div2-inner1 h1 {
    color: white;
    font-size: 80px;
    transform: translateY(50%);
}

#page6-div2-inner2 h1 {
    color: white;
    font-size: 80px;
    transform: translateY(-50%);
}

#page6-div2-inner1 {
    background-color: yellow;
    transform: translateY(-0%);
    justify-content: center;
    align-items: flex-end;

}

#page6-div2-inner2 {
    background-color: yellow;
    transform: translateY(0%);
    justify-content: center;
    align-items: flex-start;

}



#page6-div3 {
    place-items: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}